<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ljp.module_home">

    <application>
        <activity
            android:name=".ui.fragment.search.SearchActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>